.content{
    display: grid;
grid-template-columns: 1fr 11fr ;
grid-template-areas:'c m' ;
}
.messages{
    display: inline-block;
}
.contentitem{
    top: 10px;
    grid-area: c;
    color:white;
}

.messagesmessage{
    grid-area: m;
    color:gold;
}